.header--container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
    width: 80%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav li {
    display: inline;
    padding: 0 1rem 0 2rem;
}

nav li:last-child {
    padding-right: 0;
}

.header--mobile-menu-btn {
    display: none;
}

@media screen and (max-width: 1005px) {
    .header--container {
        width: 90%;
    }

    nav {
        position: absolute;
        top: 80px;
        left: 0;
        display: none;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        z-index: 1;
    }

    nav li {
        display: block;
        text-align: center;
        padding: 0.5rem 0 0.5rem 0;
    }

    ul:nth-child(2) {
        border-top: solid 2px var(--bg-gray);
        padding: 0.5rem 0 0.5rem 0;
    }

    .header--mobile-menu-btn {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
    }

    .header--container {
        justify-content: space-between;
    }
}